<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlogDeNoticias</title>
    <meta name="description" content="Página web de blog de Noticias" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link       
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
      crossorigin="crossorigin"
      as="font"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="contenedor">
        <div class="barra">
          <a href="/">
            <h1 class="logo__nombre texto-efecto centrar-texto">Blog<span class="logo__bold">DeNoticias</span></h1>
        </a>

          <nav class="navegacion">
            <a href="../posts" class="btn navegacion__enlace">Posts</a>
            <a href="../nosotros" class="btn navegacion__enlace">Nosotros</a>
            <a href="../contacto" class="btn navegacion__enlace">Contacto</a>
          </nav>
        </div>
      </div>

      <div class="header__texto">
        <h2 style="font-weight: 700;" class="no-margin">
          Descubre el mundo a través de nuestras noticias
        </h2>
        <p class="no-margin">Siempre mantente Informado</p>
      </div>
    </header>

    <div class="contenedor contenido-principal">
      <main class="blog">
        <br>

        <div id="mostrar-publicacion"></div>
      
      </main>
      <aside class="sidebar">
        <h3>Las 5 Entradas más Leídas</h3>
        
        <div class="sidebar5noticias">
          <div class="titulo5">
            <a href="#"><h4 style="padding-top: 2rem;" class="no-margin">Los detalles del debate presidencial</h4></a>
          </div>
        </div>
        <div class="sidebar5noticias">
          <div class="titulo5">
            <a href="#"><h4 style="padding-top: 2rem;" class="no-margin">Por la sequía, Bolivia lanza una campaña de uso eficiente del agua</h4></a>
          </div>
        </div>
        <div class="sidebar5noticias">
          <div class="titulo5">
            <a href="#"><h4 style="padding-top: 2rem;" class="no-margin">"Cielo rojo": los que mueren cuando aman</h4></a>
          </div>
        </div>
        <div class="sidebar5noticias">
          <div class="titulo5">
            <a href="#"><h4 style="padding-top: 2rem;" class="no-margin">Independiente vs Huracán, partido clave por el descenso: a qué hora juegan y dónde ver</h4></a>
          </div>
        </div>
        <div class="sidebar5noticias">
          <div class="titulo5">
            <a href="#"><h4 style="padding-top: 2rem;" class="no-margin">Las masitas de Yiya Murano</h4></a>
          </div>
        </div>
      </aside>
    </div>

    <footer class="footer">
      <div class="contenedor">
        <div class="barra">
          <a class="logo" href="/">
            <h2 class="logo__nombre no-margin centrar-texto">
              Blog<span class="logo__bold">DeNoticias</span>
            </h2>
          </a>
          <div style="color: #fff; font-weight: 700; text-align: center;">
            <div>Campus Virtual EPICA - Argentina Programa 4.0</div>
            <div>Comision: 21648-A - Carlos Jorge Gramajo</div>
        </div>
          <nav class="navegacion">
            <a href="../posts" class="btn navegacion__enlace">Posts</a>
            <a href="../nosotros" class="btn navegacion__enlace">Nosotros</a>
            <a href="../contacto" class="btn navegacion__enlace">Contacto</a>
          </nav>
        </div>
      </div>
    </footer>

    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm' crossorigin='anonymous'></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/vermas.js"></script>

  </body>
</html>